spring.datasource.url=jdbc:postgresql://localhost:5432/musicapp
spring.datasource.username=your_username
spring.datasource.password=your_password
spring.datasource.driver-class-name=org.postgresql.Driver
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.open-in-view=false
server.port=8081 // default port number 8080
spring.application.name=rhythmix-backend

jwt.secret=your_jwt_secert_key // 256 bits (32 characters)
jwt.expiration=86400000 // expire 24 hours

# ===== APP URLS =====
app.base.url=http://localhost:5173
frontend.url=http://localhost:5173

# ===== GOOGLE =====
google.client.id=your_google_client_id
gmail.client.id=your_google_client_id
gmail.client.secret=your_google_client_secret
gmail.refresh.token=your_gmail_refresh_token // provided by the oauth2 gmail api
gmail.from.email=you@gmail.com // test verified mail

