spring.datasource.url=jdbc:postgresql://localhost:5432/musicapp
spring.datasource.username=your_username
spring.datasource.password=your_password
spring.datasource.driver-class-name=org.postgresql.Driver
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.open-in-view=false
server.port=8081
spring.application.name=rhythmix-backend

jwt.secret=your_jwt_secert_key // 256 bits (32 characters)
jwt.expiration=86400000 // expire 24 hours